config MACH_LGE
	bool

menu "LGE Board Selection"

source "arch/arm/mach-msm/lge/8974ac-g3/Kconfig"

config DTS_TARGET
	string "DTS target dir"
	help
	  CONFIG_DTS_TARGET should be set to support appended dts.
	  ex) CONFIG_DTS_TARGET="msm8974-g3".

config LGE_BOOTLOADER_LOG
	tristate "Support LGE bootloader log"
	default n
	depends on MACH_LGE
	help
	  LGE bootloader log

config LGE_PSEUDO_CHG_UI
	bool "Support pseudo charging UI"
	default n
	depends on MACH_LGE
	help
	  LGE PSEUDO CHG UI.

config LGE_BOOTLOADER_TIME_CHECKER
	bool "Show bootloader(LK, SBL) time"
	default n
	depends on MACH_LGE
	help
	  This shows the lk and sbl1 booting time in MSM8974.
	  If this feature is enabled, it should be check by adb shell.
	  Device Node : sys/module/lge_bootloader_time_checker/

config LGE_USES_SMD_DS_TTY
	bool "Explicitly use smd tty driver for DS"
	default n
	depends on MSM_SMD_TTY && MACH_LGE
	help
	  In Qualcomm MSM89xx, smd tty driver for ds(/dev/smd0) is not used.
	  Say yes if this tty driver must be used on LGE device. This is used
	  to connect smd channel in user space(for example, ATCMD processing).

config LGE_KSWITCH
	tristate "Support LGE Kill Switch"
	default n
	depends on MACH_LGE
	help
	  LGE Kill Switch

config LGE_QFPROM_INTERFACE
	bool "Support qfprom interface"
	default n
	depends on MACH_LGE
	help
	  LGE QFPROM DRIVER.

config SHITTY_VARIANT
	bool "Whether or not this is a shitty variant"
	default n
	help
	  Some variants are shitty. In this particular case, shitty means that no matter
	  what you do, they simply won't boot when the kernel is built with gcc 4.9.
	  This flag will allow these variants to opt out of the code tha causes the
	  section mismatches and allow them to continue on with their presumably shitty
	  existance and gcc 4.8.

endmenu
